@charset "utf-8";
/* CSS Document */

#move
{
	font-family:Open;
	color:#8C8A93;
	font-size:16px;
}

#move > span
{
	vertical-align:middle;
}

#move_count
{
	font-family:OpenLight;
	font-size:32px;
	padding-left:30px;
}

#game_msg
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font-family:OpenExtra;
	text-align:center;
	font-size:64px;
	opacity:0.9;
	background-color:#ffffff;
	z-index:9;
	color:#81667A;
	padding-top:calc(50% - 50px);
	display:none;
}

#game_board
{
	width:100%;
	max-width:600px;
	position:relative;
}

.card_holder
{
	padding:7px;
	width:20%;
	height:110px;
	box-sizing:border-box;
	float:left;
}

.card
{
	position:relative;
	border-radius:3px;
	overflow:hidden;
	height:100%;
	cursor:pointer;
}

.card_facedown, .card_faceup
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.card_faceup
{
	z-index:1;
}

.card_facedown
{
	z-index:2;
}

.card_visual
{
	width:100%;
	height:100%;
	margin:0 auto;
}

.card_faceup .card_visual
{
	width:0;
}

.card_facedown .card_visual
{
	background-color:#92B4A7;
}

.button_holder
{
	position:relative;
	width:112px;
	height:48px;
	cursor:pointer;
	border-radius:3px;
	overflow:hidden;
}

.button_bg
{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	width:100%;
	height:100%;
	background-color:#;
}

.button_hover
{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
}

.button_hover div
{
	width:0;
	height:100%;
	margin:0 auto;
}

.button_text
{
	position:absolute;
	top:calc(50% - 12px);
	left:0;
	z-index:2;
	width:100%;
	height:100%;
	background-color:transparent;
	text-align:center;
	color:#fefefe;
	font-size:16px;
	text-transform:none;
	font-family:OpenExtra;
}
