@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	font-family:Open, Arial, Tahoma, Helvetica, sans-serif;
	font-size:12px;
	color:#878787;
	position:relative;
	letter-spacing:-1px;
}

.slot
{
	padding-left:15px;
	padding-right:15px;
}

.header
{
	min-height:160px;
	width:100%;
}

.header .container
{
	padding:24px 0;
}

.logo
{
	width:300px;
	height:88px;
	margin:auto;
	background-image:url(logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.nav
{
}

.nav_menu
{
	list-style:none;
	padding:0;
	margin:0;
	margin-top:48px;
	text-align:right;
	font-size:22px;
	color:#1e1e1e;
	text-align:right;
	font-family:OpenSemi;
}

.nav_menu > li
{
	display:inline-block;
	margin:0 24px;
	position:relative;
}

.nav_menu > li > span
{
	cursor:pointer;
	text-transform: capitalize;
}

.nav_menu > li > div
{
	position:absolute;
	top:-32px;
	left:0;
	width:100%;
	height:100%;
	display:none;
}

.nav_menu > li.active > div
{
	display:block;
}

.nav_menu > li > div > div
{
	width:12px;
	height:12px;
	margin:0 auto;
	border-radius:25%;
	background-color:#029985;
	background-image:url(icons/arrow_down.png);
	background-size:8px 8px;
	background-position:center;
	padding:2px;
	background-repeat:no-repeat;
}

.nav_menu > li.active > div > div
{
	background-color:#b8b8b8;
}

.banner
{
	width:100%;
	height:608px;
	position:relative;
	overflow:hidden;
}

.banner video
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
	margin:auto;
	z-index:-1;
	visibility:visible;
}

.intro
{
	text-align:center;
	color:#f7f7f7;
}

.intro_text
{
	margin-top:1vmax;
	text-shadow:0 0 5px #878787;
}

.intro_text h1
{
	margin:0;
	font-size:48px;
}

.intro_text h2
{
	margin:0;
	margin-top:-8px;
	font-size:32px;
	font-weight:normal;
	color:#f7f7f7;
}

.intro_split
{
	height:1px;
	width:240px;
	margin:16px auto;
	margin-bottom:0;
	background-color:#f7f7f7;
}

.intro_icon
{
	background-image:url(icons/intro.png);
	width:96px;
	height:96px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:112px;
}

.tiles
{
	margin-top:-192px;
}

.tile
{

}

.tile_header
{
	height:272px;
	background-color:#029985;
	position:relative;
}

.tile_header_num
{
	position:absolute;
	top:0;
	right:0;
	padding:16px 19px;
	text-align:right;
	font-size:60px;
	color:#ffffff;
	opacity:0.5;
}

.tile_header_text
{
	position:absolute;
	bottom:0;
	left:0;
	padding:48px 56px;
	text-align:left;
	font-size:22px;
	color:#ffffff;
	text-transform:uppercase;
	font-family:OpenSemi;
}

.tile_text
{
	font-size:16px;
	line-height:28px;
	margin:32px 8px;
}

.button_holder
{
	position:relative;
	width:112px;
	height:48px;
	cursor:pointer;
}

.button_bg
{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	width:100%;
	height:100%;
	background-color:#;
}

.button_hover
{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
}

.button_hover div
{
	width:0;
	height:100%;
	margin:0 auto;
}

.button_text
{
	position:absolute;
	top:calc(50% - 0.8vmax);
	left:0;
	z-index:2;
	width:100%;
	height:100%;
	background-color:transparent;
	text-align:center;
	color:#fefefe;
	font-size:16px;
	text-transform:none;
}

.gallery
{
	background-color:#1e1e1e;
	width:100%;
	margin-top:64px;
}

.gallery_title
{
	text-align: center;
}

.gallery_title h2
{
	color:#ffffff;
	text-transform:uppercase;
	font-size:26px;
	padding-top:10px;
	margin:0;
}

.gallery_title h3
{
	color:#ffffff;
	text-transform:capitalize;
	padding-bottom:12px;
	margin:0;
}

.gallery_holder
{
	margin:0 8px;
	padding-bottom:5px;
}

.gallery .slot
{
	padding-left:8px;
	padding-right:8px;
	padding-bottom:12px;
}

.gallery_photo
{
	text-align:center;
	overflow:hidden;
	position:relative;
}

.gallery_photo img
{
	cursor:pointer;
	width:100%;
}

.milky
{
	width:100%;
	background-color:#f7f7f7;
	padding-top:48px;
	padding-bottom:50px;
}

p
{
	font-size:16px;
	line-height:28px;
}

.milky .txt
{
	padding:0;
}

.milky .txt h3
{
	color:#b0b0b0;
	text-transform:uppercase;
	font-size:14px;
	font-family:OpenSemi;
	font-weight:normal;
	margin-bottom:0;
}

.milky .txt h2
{
	margin-top:0;
}

.newsletter_signup
{
	margin-top:40px;
}

.newsletter_signup h2
{
	color:#333333;
	margin-bottom:0;
}

.newsletter_form
{
	margin-top:72px;
}

.about
{
	background-image:url("images/about_bg.jpg");
	background-position:left center;
	background-size:cover;
	width:100%;
	margin-top:50px;
}

.about h1
{
	color:#ffffff;
	font-size:60px;
	text-transform:capitalize;
	margin-bottom:0;
	margin-top:40px;
}

.about h2
{
	margin-top:0;
	font-weight:normal;
	font-family:OpenSemi;
	font-size:36px;
	color:#b8b8b8;
	text-transform:capitalize;
}

.about p
{
	font-size:18px;
	color:#b8b8b8;
	text-shadow:1px 0 3px #1e1e1e;
}

.about .button_text
{
	text-transform:uppercase;
	font-weight:normal;
	font-family:OpenSemi;
	font-size:18px;
}

.about .button_holder
{
	margin-bottom:50px;
}

.info
{
	margin-top:50px;
}

.info h2
{
	color:#1e1e1e;
}

.staff .thumbnail_outside
{
	width:100%;
	border:1px solid #e0e0e0;
}

.staff .thumbnail_inside
{
	margin:5px;
	margin-bottom:0;
	padding:15px;
}

.staff .slot
{
	padding-left:10px;
	padding-right:10px;
}

.info h3
{
	font-size:18px;
	text-transform:uppercase;
	font-weight:normal;
	font-family:OpenSemi;
}

.info p
{
	font-size:14px;
	line-height:24px;
}

.info .button_holder
{
	margin-top:15px;
}

.faqs h3
{
	color:#ff8019;
	font-size:16px;
	margin-top:70px;
}

.faqs p
{
	text-transform:uppercase;
	font-size:12px;
}

.contacts p
{
	font-family:OpenSemi;
	letter-spacing:0;
	padding:0 10px;
}

.contacts .split
{
	margin-top:40px;
	margin-bottom:30px;
}

.contacts .mail
{
	color:#1e1e1e;
}

.contacts ul
{
	list-style:none;
	margin:0;
	margin-top:30px;
	padding:0;
}

.contacts ul > li
{
	display:inline-block;
	box-sizing:border-box;
}

.footer
{
	width:100%;
	text-align:center;
	letter-spacing:-0.5px;
}

.footer p
{
	font-size:11px;
	line-height:normal;
	margin:0;
}

.footer .p2
{
	font-size:10px;
	text-transform:uppercase;
}

.footer.milky
{
	margin-top:50px;
	padding-top:18px;
	padding-bottom:15px;
}
